@import '~bootstrap/scss/bootstrap';

@media (min-width: 1200px) {

  .container {
    max-width: 970px;
    }
}

.menu {

  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
  padding: 0 50px 0 0;

}

.show-menu {
  display: flex;
  flex-direction: column-reverse;
  // align-self: right;
}

.col {
  margin: 0 2px 2px 0;
  padding: 40px;
  background: white;
  font-size: 30px;
  }

  .board {
    background: black;
  }

.six, .seven, .eight {
  margin: 0 2px 0 0;
}
