@import '~bootstrap/scss/bootstrap';
  .col-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    margin: 10px;
  }



  .board {
    background: black;
  }

.zero, .one, .two {
  background: blue;
}

.three, .four, .five {
  background: red;
}

.six, .seven, .eight {
  background: green;
}
